{eval

function tpl_auth0_login_widget($settings) {
global $_G;
}
<!--{block return}-->
<link rel="stylesheet" href="{$_G['siteurl']}source/plugin/auth0login/static/css/zocial.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="{$_G['siteurl']}source/plugin/auth0login/static/css/button.css" type="text/css" media="all" />
<!-- div class="y auth0btn" id="auth0-login-form"><i class="icon">r</i><i class="icon">u</i><span>注册</span></div-->
<div class="y auth0btn" id="auth0-login-form">{$settings['message']}</div>
<!-- TODO: file to heavy, fetch after loading -->
<script type="text/javascript" src="{$_G[siteurl]}source/plugin/auth0login/static/js/auth0-widget-2.5.min.js"></script>
<script >
	var widget;
	widget = new Auth0Widget({
	    domain:         "{$settings['domain']}",
	    clientID:       "{$settings['clientid']}",
	    callbackURL:    "{$_G['siteurl']}plugin.php?id=auth0login&op=callback"
        });
	var loginButton = document.getElementById("auth0-login-form");
	loginButton.addEventListener('click',function(){
		widget.signin();
		return false;
        });
</script>
<!--{/block}-->
<!--{eval return $return;}-->
{eval
}

}

