{eval

function tpl_auth0_login_widget() {
}
<!--{block return}-->
<!-- TODO: file to heavy, fetch after loading -->
<script type="text/javascript" src="{$_G[siteurl]}source/plugin/auth0login/static/js/auth0-widget-2.5.min.js"></script>
<link rel="stylesheet" href="{$_G[siteurl]}source/plugin/auth0login/static/css/zocial.min.css" type="text/css" media="all" />
<style>
    .icon { 
        font-size: 16px;
        display: inline-block;
        font-family: 'zocial';
        font-style: normal;
        text-align: center;
        padding: 5px;
    }

    #auth0-login-form span {
        margin-left: 5px;
        font-size: 20px;
    }
</style>
<div class="y" id="auth0-login-form"><i class="icon">r</i><i class="icon">u</i><span>注册</span></div>
<script >
    	var widget;
	widget = new Auth0Widget({
            domain:         'hrajchert.auth0.com',
            clientID:       'PiUe1wTxxieYuoPhF3inu9ZEDWfAnmDW',
	    callbackURL:    'http://auth0-discuz.cloudapp.net/plugin.php?id=auth0login&op=callback'
        });
	var loginButton = document.getElementById('auth0-login-form');
	loginButton.addEventListener('click',function(){
		widget.signin();
		return false;
        });
</script>
<!--{/block}-->
<!--{eval return $return;}-->
{eval
}

}

